#projectContainer:hover {
    background-color: #121a2a;
    -webkit-transition: all 0.4s ease;
}

#projectContainer {
    position: relative;
    cursor: pointer;
}

#afterBox {
    text-align: center;
}

#afterBox::after {
    content: "+ info";
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    -webkit-transition: all 0.4s ease;
}

#projectContainer:hover #afterBox::after {
    opacity: 1;
}

#projectContainer:hover #allstack {
    opacity: 0.5;
    filter: blur(5px);
}
